name: Build, Push, and Deploy to ECS

on:
  workflow_dispatch:

jobs:
  build-push-deploy:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, tag, and push image
        env:
          ECR_REGISTRY: ${{ secrets.ECR_REGISTRY }}
          ECR_REPOSITORY: ${{ secrets.ECR_REPOSITORY }}
          LATEST_TAG: latest
          COMMIT_SHA: ${{ github.sha }}
        run: |
          docker build -f docker/dockerfile -t $ECR_REGISTRY/$ECR_REPOSITORY:$LATEST_TAG -t $ECR_REGISTRY/$ECR_REPOSITORY:COMMIT_SHA .
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$LATEST_TAG

      # -------------------------------
      # NEW: Check running ECS tasks
      # -------------------------------
      - name: Check running ECS tasks
        id: ecs_tasks
        run: |
          COUNT=$(aws ecs list-tasks \
            --cluster ${{ secrets.ECS_CLUSTER }} \
            --service-name ${{ secrets.ECS_SERVICE }} \
            --desired-status RUNNING \
            --query 'length(taskArns)' \
            --output text)

          echo "Running tasks: $COUNT"
          echo "count=$COUNT" >> $GITHUB_OUTPUT

      # ---------------------------------------------
      # NEW: Only deploy if running task count != 0
      # ---------------------------------------------
      - name: Force new ECS deployment
        run: |
          echo "Forcing new ECS deployment..."
          aws ecs update-service \
            --cluster ${{ secrets.ECS_CLUSTER }} \
            --service ${{ secrets.ECS_SERVICE }} \
            --force-new-deployment

          - name: Create  ECS tasks
          if: ${{ steps.ecs_tasks.outputs.count != '0' }}
          run: |
            echo "Setting desired count to 1..."
            aws ecs update-service \
              --cluster ${{ secrets.ECS_CLUSTER }} \
              --service ${{ secrets.ECS_SERVICE }} \
              --desired-count 1

